@model MsInUsa.Model.UserProfile

@{
    ViewBag.Title = "Change-Password";
}

<div>
    @if (TempData["ConfirmationMessage"] != null) {<h4 style="padding-top:2em"><span class="alert alert-success col-xs-offset-2">@TempData["ConfirmationMessage"]!</span></h4><br>}
    else{
    <h1><span class="label label-info col-sm-offset-3 button-color">Change Password</span></h1>
    using(Html.BeginForm("changepassword","Account", FormMethod.Post, new { @class="form-horizontal", @role="form", @style="padding-top:2em;padding-left:2em"})){
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">New Password:</label>
    <div class="col-sm-3"> 
         @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password"})
    </div>
     <div class="col-sm-3">
        @Html.ValidationMessageFor(m => m.Password) 
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="email">Confirm Password:</label>
    <div class="col-sm-3">
         @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control",placeholder = "Confirm Password",type="password"})
    </div>
     <div class="col-sm-3">
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default button-color">Submit</button>
    </div>
  </div>
 }}
</div>
