@model MsInUsa.Model.FullProfile

@{
    ViewBag.Title = @Session["UserName"].ToString();
}
<div class="container-fluid">
<div class="row">
<div class="col-sm-12 university-header" style="background-image: url(@Href("~/Content/Images/Universities/Background/Main_University.jpg"))">

<div class="col-sm-12" style="align-self: center;">
<h1>@Session["UserName"].ToString()</h1>
<h3>@Model.DreamUniversity MASTER'S Aspirant</h3>
<h4>Interested in @Model.MSCourse @if (Model.Term != null && Model.Year != null) {<strong>(@Model.Term, @Model.Year)</strong>}</h4>
</div>
</div>
</div>
</div>
<br>
<div class="container">
<div class="row">
<div class="col-sm-9">
 
 
<div class="row">
<div class="col-sm-6">
<h3>
PROFILE & ACADEMICS
<div class="pull-right"><a href="/MsInUsa/profiles/edit/@Model.Id" style="text-decoration:none"><button class="btn btn-default button-color">EDIT</button></a></div>
</h3>
<hr>
<div class="row">
<div class="col-sm-12">
<strong>Undergrad:</strong><br>
<h4>@Model.UGCourse</h4></div>
</div><br>
<div class="row text-center">
<div class="col-sm-4 col-xs-4">
<i class="glyphicon glyphicon-globe gi-3x text-color"></i>
<h3><small>GRE</small><br>
@if(Model.AppearedGre == true) {
@(Model.GQuant+Model.GVerbal)<br><span style="font-size: 0.5em;">Quant: @Model.GQuant<br>Verbal: @Model.GVerbal</span> }
else {<h4>Appearing on <small>@Model.GDay/@Model.GMonth/@Model.GYear</small></h4>}
</h3>
</div>
<div class="col-sm-4 col-xs-4">
<i class="glyphicon glyphicon-book gi-3x text-color"></i>
@if(Model.Toefl == true) {
<h3><small>TOEFL</small><br>@(Model.TIListening+Model.TIReading+Model.TISpeaking+Model.TIWriting)</h3> }
else if (Model.Ielts == true){<h3><small>IELTS</small><br>@((Model.TIListening+Model.TIReading+Model.TISpeaking+Model.TIWriting)/4)</h3> }
else{ <h3><small>TOEFL/IELTS</small><br><h4>NA</h4></h3>}
</div>
<div class="col-sm-4 col-xs-4">
<i class="glyphicon glyphicon-education gi-3x text-color"></i>
<h3><small>UG Score</small><br>@Model.UGScore.ToString() CGPA</h3>
</div>
</div>
<div class="clearfix"></div>
<div class="row text-center">
<div class="col-sm-4 col-xs-4">
<br>
<i class="glyphicon glyphicon-briefcase gi-3x text-color"></i>
@if(Model.WorkExperience != null &&  Model.WorkExperience != 0){
<h4><small>Work Exp.</small><br><br>@Model.WorkExperience months</h4>
}
else{<h4><small>Work Exp.</small><br><br>NA</h4>}
</div>
<div class="col-sm-4 col-xs-4">
<br>
<i class="glyphicon glyphicon-file gi-3x text-color"></i>
<h4><small>Tech Papers</small><br><br>@Model.Papers</h4>
</div>
<div class="col-sm-4 col-xs-4">
<br>
<i class="glyphicon glyphicon-heart gi-3x text-color"></i>
<h4><small>Dream Univ.</small><br><br>@Model.DreamUniversity</h4>
</div>
</div>
<div class="clearfix"></div>
</div>

<div class="col-sm-6">
<h3>UNIVERSITIES APPLIED</h3>
<div class="responsive" id="application-statuses-div">
<table class="table">
@if(Model.admitrejects != null){
foreach(var c in Model.admitrejects){
<tr>
<td>
<h4>
@Html.ActionLink(c.UnivName, "reviews", "Universities", new {id= c.UnivId }, null)<br>
<small>@c.CourseName</small></h4>
</td>
@if(c.Status =="Admit" || c.Status =="Reject"){
<td class="text-center">
<h4>
@if(c.Status == "Admit"){
<span class="label label-success">@c.Status</span>}
else if (c.Status == "Reject")
{<span class="label label-danger">@c.Status</span>}
</h4>
</td>
<td>
</td>
<td>    
<button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#delete-application-status-modal" data-universityid ='@c.UnivId' data-university='@c.UnivName' data-course='@c.CourseName'><i class="glyphicon glyphicon-trash text-danger"></i></button>
</td>}
else{
<td class="text-center">
<h4>
@if(c.Status == "Interested"){
<span class="label label-warning">@c.Status</span>
}
else if(c.Status == "Applied"){<span class="label label-info">@c.Status</span>}
</h4>
</td>
<td>
<button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#edit-application-status-modal" data-universityid ='@c.UnivId' data-university='@c.UnivName' data-course='@c.CourseName'><i class="glyphicon glyphicon-pencil text-danger"></i></button>
</td>
<td>    
<button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#delete-application-status-modal" data-universityid ='@c.UnivId' data-university='@c.UnivName' data-course='@c.CourseName'><i class="glyphicon glyphicon-trash text-danger"></i></button>
</td>
}
</tr>
}}
</table>
</div>
 
<div class="text-center">
<p>Add your applications' status to connect with students having similar admits/rejects.</p>
<button type="button" class="btn btn-primary button-color" data-toggle="collapse" data-target="#add-application-status-div" aria-expanded="false" aria-controls="add-application-status-div">Add applications</button>
</div>
<br>
<div class="collapse" id="add-application-status-div">
<div class="well">
<h4>Add University Application Status</h4><hr>
<div class="ui-widget">
<div class="input-group">
<span class="input-group-addon button-color"><i id="users-view-search-universities-icon" class="glyphicon glyphicon-education"></i></span>
<input type="text" id="users-view-search-universities" class="form-control" placeholder="University name" aria-describedby="users-view-search-universities">
</div> 
</div>
<br>
@*@Html.DropDownListFor(m=>m.MSCourse, Model.itemslist, new{@disabled="disabled", @id="users-view-search-courses", @class="form-control", @placeholder="Grad course name"})*@
<div class="ui-widget">
<div class="input-group">
<span class="input-group-addon button-color"><i id="users-view-search-courses-icon" class="glyphicon glyphicon-book"></i></span>
<input type="text" disabled="disabled" id="users-view-search-courses" class="form-control" placeholder="Grad course name" aria-describedby="users-view-search-courses">
</div> 
</div>
<br>
<div class="input-group">
<div class="input-group-addon">Status</div>
<select id="university-application-status" class="form-control">
<option value="1">Applied</option>
<option value="2">Admit</option>
<option value="3">Reject</option>
<option value="4">Interested</option>
</select>
</div>
<input type="hidden" id="user-id" value="@Model.Id"/>
<br>
<div class="text-center">
<button type="button" id="add-application-status-button" class="btn btn-success btn-sm"> SAVE </button>
<i class="glyphicon glyphicon-spinner gi-2x hidden" id="add-application-status-loader"></i>
<br>
<div id="add-application-status-message-div"></div>
</div>
</div>
</div>
 
<div class="modal fade" id="edit-application-status-modal" tabindex="-1" role="dialog" aria-labelledby="edit-application-status-modal-label">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title">Edit Application Status</h4>
</div>
<div class="modal-body">
<div id="modal-university-course-edit"></div>
<div class="input-group">
<div class="input-group-addon">Status</div>
<select class="form-control" id="modal-status">
<option value="1">Applied</option>
<option value="2">Admit</option>
<option value="3">Reject</option>
<option value="4">Interested</option>
</select>
</div>
</div>
<div class="modal-footer">
<button type="button" id="edit-application-status-modal-save-button" data-loading-text="Saving..." class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
 
<div class="modal fade" id="delete-application-status-modal" tabindex="-1" role="dialog" aria-labelledby="delete-application-status-modal-label">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title">Delete Application Status</h4>
</div>
<div class="modal-body">
<div id="modal-university-course-delete"></div>
</div>
<div class="modal-footer">
<button type="button" id="delete-application-status-modal-save-button" data-loading-text="Deleting..." class="btn btn-primary">Delete</button>
</div>
</div>
</div>
</div>

</div></div>

<div class="clearfix"></div> </div>

<div class="clearfix"></div>
</div>
</div>
<br>